version: '3.8'

services:
  # 1. Servis: Bizim API Projemiz
  market-api:
    image: market-api-image
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5050:8080" # Dışarıya 5050'den açıyoruz
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # BURASI ÇOK ÖNEMLİ:
      # Localhost yerine aşağıdaki 'market-db' servisine git diyoruz.
      # Kodunu değiştirmeden connection string'i buradan eziyoruz.
      - ConnectionStrings__DefaultConnection=Server=market-db;Port=5432;Database=MarketDB;User Id=postgres;Password=postgres;
    depends_on:
      - market-db # DB ayağa kalkmadan API kalkmasın

  # 2. Servis: PostgreSQL Veritabanı
  market-db:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=MarketDB
    ports:
      - "5435:5432" # Bilgisayarındaki yerel Postgres ile çakışmasın diye 5435 yaptık
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: